.photos-show{
	position: relative;
	.item{
		img{
			width: 100%;
		}
	}
	.next,.prev{
		position: absolute;
		top: 45%;
		font-size: 30px;
		color: #a6a6a6;
		cursor: pointer;
	}
	.next{
		right:-10px; 
	}
	.prev{
		left: -10px;
	}
}